<div>
  <%= form_tag new_following_path, :method => :get do %>
    <input type="text" name="email" />
    <input type="submit" value="Search" />
  <% end %>
</div>
<h1>You are following:</h1>

<div>
  <% @followings.each do |following| %>
    <div>
      <%= following.followed.email %>
      <%= link_to 'Unfollow', following, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<h1>People following you:</h1>
<div>
  <% @followers.each do |follower| %>
    <%= follower.email %>
  <% end %>
</div>
<br>
