<div>
  <%= form_tag new_following_path, :method => :get do %>
    <input type="text" name="email" />
    <input type="submit" value="Search" />
  <% end %>
</div>
<h1>You are following:</h1>

<div>
  <% if @followings.size == 0 %>
    You are following no one.
  <% else %>
    <% @followings.each do |following| %>
      <div>
        <%= link_to following.followed.email, "/beer_profiles/users/#{following.id}" %>
        <%= link_to 'Unfollow', following, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% end %>
</div>

<h1>People following you:</h1>
<div>
  <% if @followers.size == 0 %>
    No one is following you.
  <% else %>
    <% @followers.each do |follower| %>
      <%= follower.email %>
    <% end %>
  <% end %>
</div>
<br>
