<div class="solo profile box lg3-lg6 clearfix">
	<h2>Search Results</h2>
	<div>beer result 1</div>
	<div>beer result 2</div>
	<div>beer result 3</div>
	<div>beer result 4</div>
	<div>beer result 5</div>
	<div>beer result 6</div>
</div>