<div class="solo profile box lg3-lg6 clearfix">
	<h2>Search Results</h2>
	<ul>
		<li>
			<img src="https://untappd.s3.amazonaws.com/site/beer_logos/beer-PaleAle_6284.jpeg" width="100px" height="100px">
			<div>Beer Name<br>Brewery</div>
		</li>
		<li>
			<img src="https://untappd.s3.amazonaws.com/site/beer_logos/beer-PaleAle_6284.jpeg" width="100px" height="100px">
			<div>Beer Name<br>Brewery</div>
		</li>
		<li>
			<img src="https://untappd.s3.amazonaws.com/site/beer_logos/beer-PaleAle_6284.jpeg" width="100px" height="100px">
			<div>Beer Name<br>Brewery</div>
		</li>
		<li>
			<img src="https://untappd.s3.amazonaws.com/site/beer_logos/beer-PaleAle_6284.jpeg" width="100px" height="100px">
			<div>Beer Name<br>Brewery</div>
		</li>
	</ul>
</div>