
<div class="home-search box lg3-lg6 clearfix">
	<input type="search" name="beer_search" id="beer_search"  class="form-text" placeholder="What are you drinking?">
	<small>search powered by Untappd</small>

	<div class="fr clearfix">
		<input type="submit" value="Search">
	</div>
</div>
