<div class="lg1-lg3">
	<div class="solo profile box lg-all clearfix">
		<h2>Profile</h2>
		<div>beer result 1</div>
		<div>beer result 2</div>
		<div>beer result 3</div>
		<div>beer result 4</div>
		<div>beer result 5</div>
		<div>beer result 6</div>
	</div>
	<br><br>
	<div class="bjcp-info box lg-all clearfix">
		<h2>Style Guide Placeholder</h2>
		<p>American IPAs are da fyah</p>
	</div>
</div>

<div class="lg5-lg8">
	<div class="journal-panel box lg-all clearfix">
		<h2>Journal</h2>
		<ul class="tiles">
			<li class="appearance">
				<div class="front">
					<div>Appearance</div>
				</div>
				<div class="back">
					<div>Rate It!</div>
				</div>
				<div class="all-content">
					<h1>What is Lorem ipsum?</h1>
				</div>
			</li>

			<li class="aroma">
				<div class="front">
					<div>Aroma</div>
				</div>
				<div class="back">
					<div>Rate It!</div>
				</div>
				<!-- <div class="all-content">
					<h1>What is Lorem ipsum?</h1>
				</div> -->
			</li>

			<li class="taste">
				<div class="front">
					<div>Taste</div>
				</div>
				<div class="back">
					<div>Rate It!</div>
				</div>
				<!-- <div class="all-content">
					<h1>What is Lorem ipsum?</h1>
				</div> -->
			</li>

			<li class="mouthfeel">
				<div class="front">
					<div>Mouthfeel</div>
				</div>
				<div class="back">
					<div>Rate It!</div>
				</div>
				<!-- <div class="all-content">
					<h1>What is Lorem ipsum?</h1>
				</div> -->
			</li>

			<li class="flavor-chart">
				<div class="front">
					<div>Flavor-Chart</div>
				</div>
				<div class="back">
					<div>Rate It!</div>
				</div>
				<!-- <div class="all-content">
					<h1>What is Lorem ipsum?</h1>
				</div> -->
			</li>
	</div>
</div>

<script>
$('.all-content').hide();

var bgColor;
var effect = 'animated bounceInLeft'; /* bounceIn, bounceInUp, bounceInDown, bounceInLeft,
										 bounceInRight, rotateIn, rotateInUpLeft, rotateInDownLeft,
										 rotateInUpRight, rotateInDownRight  */

$('.tiles li').click(function(){
	$('.front, .back').hide();
	$('.tiles li').removeClass('active').hide().css('border','none');
	$(this).addClass('active').show();
	bgColor = $('.active .back').css('background-color');
	$('.tiles').css('background-color',bgColor);
	$('.close, .all-content').show();
	$('.responsive').append('<span class="close">close</span>').addClass(effect);
});


$('.responsive').on('click', '.close', function(){

	$('.close').remove();
	bgColor = $('.active .front').css('background-color');
	$('.responsive').removeClass(effect);
	$('.all-content').hide();
	$('.tiles li').removeClass('active').show().css({ 'border-bottom':'1px solid #2c2c2c',
													    'border-left':'1px solid #2c2c2c' });
	$('.front, .back').show();
	$('.tiles').css('background-color',bgColor);
});
</script>