<div class="lg1-lg3">
	<div class="solo profile box lg-all clearfix">
		<h2>Profile</h2>
		<div>beer result 1</div>
		<div>beer result 2</div>
		<div>beer result 3</div>
		<div>beer result 4</div>
		<div>beer result 5</div>
		<div>beer result 6</div>
	</div>
	<br><br>
	<div class="bjcp-info box lg-all clearfix">
		<h2>Style Guide Placeholder</h2>
		<p>American IPAs are da fyah</p>
	</div>
</div>

<div class="lg5-lg8">
	<div class="journal-panel box lg-all clearfix">
		<h2>Journal</h2>
		<ul class="tiles">
			<li class="appearance">
				<a class="front" href="#">
					<div>Appearance</div>
				</a>
				<a class="back" href="#">
					<div>Rate It!</div>
				</a>
				<!-- <div class="all-content">
					<h1>What is Lorem ipsum?</h1>
				</div> -->
			</li>
			<li class="aroma"><a href="#">Aroma</a></li>
			<li class="taste"><a href="#">Taste</a></li>
			<li class="mouthfeel"><a href="#">Mouthfeel</a></li>
			<li class="flavor-wheel"><a href="#">Flavor Wheel</a></li>
	</div>
</div>