<div class="wrapper">

<div class="taste-aroma">
   <div class="taste-aroma-checkbox">
    <input type="checkbox" class="category-option" value="faint" id="faint">
     <label for="faint" class="faint">Faint</label>
     </div>
    <div class="switch">
      <input type="radio" class="switch-input" name="view" value="week" id="week" checked>
      <label for="week" class="switch-label switch-label-off">Taste</label>
      
      <input type="radio" class="switch-input" name="view" value="month" id="month">
      <label for="month" class="switch-label switch-label-on">Aroma</label>
      
       <input type="radio" class="switch-input" name="view" value="day" id="day">
       <label for="day" class="switch-label switch-label-both">Both</label>
      <span class="switch-selection"></span>
    </div>
</div>

</div>
