    <label for="badger">Badger</label>
   <input type="text" id="badger" name="animal_type" >
   

   <div class="wrapper">
    <div class="taste-aroma-container">
        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" id="burnt">
             <label for="burnt" class="burnt">Burnt</label>
<!--             <span class="icon-checkmark"></span>-->
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="switch1" id="taste_0" checked>
              <label for="taste_0" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="switch1" id="taste_1">
              <label for="taste_1" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="switch1" id="taste_2">
               <label for="taste_2" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>

        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="Bread/Biscuit" id="Bread/Biscuit">
             <label for="Bread/Biscuit" class="Bread/Biscuit">Bread/Biscuit</label>
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="switch2" id="taste_3" checked>
              <label for="taste_3" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="switch2" id="taste_4">
              <label for="taste_4" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="switch2" id="taste_5">
               <label for="taste_5" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>

        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="caramel" id="caramel">
             <label for="caramel" class="caramel">Caramel</label>
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="switch3" id="taste_6" checked>
              <label for="taste_6" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="switch3" id="taste_7">
              <label for="taste_7" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="switch3" id="taste_8">
               <label for="taste_8" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>
        <br>
    

    </div>
    
        <div class="taste-aroma-container">
        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="cereal" id="cereal">
             <label for="cereal" class="cereal">Cereal</label>
<!--             <span class="icon-checkmark"></span>-->
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="switch4" id="taste_9" checked>
              <label for="taste_9" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="switch4" id="taste_10">
              <label for="taste_10" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="switch4" id="taste_11">
               <label for="taste_11" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>

        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="chocolate" id="chocolate">
             <label for="chocolate" class="chocolate">Chocolate</label>
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="switch5" id="taste_12" checked>
              <label for="taste_12" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="switch5" id="taste_13">
              <label for="taste_13" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="switch5" id="taste_14">
               <label for="taste_14" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>

        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="oat" id="oat">
             <label for="oat" class="oat">Oat</label>
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="switch6" id="taste_15" checked>
              <label for="taste_15" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="switch6" id="taste_16">
              <label for="taste_16" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="switch6" id="taste_17">
               <label for="taste_17" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>
        <br>
        
        

    </div>
</div>
















