<div class="wrapper">
    <div class="taste-aroma-container">
        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="faint" id="faint">
             <label for="faint" class="faint">Burnt</label>
<!--             <span class="icon-checkmark"></span>-->
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="view" value="week" id="week" checked>
              <label for="week" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="view" value="month" id="month">
              <label for="month" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="view" value="day" id="day">
               <label for="day" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>

        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="Bread/Biscuit" id="Bread/Biscuit">
             <label for="Bread/Biscuit" class="Bread/Biscuit">Bread/Biscuit</label>
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="poop" value="joy" id="joy" checked>
              <label for="joy" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="poop" value="el" id="el">
              <label for="el" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="poop" value="hi" id="hi">
               <label for="hi" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>

        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="caramel" id="caramel">
             <label for="caramel" class="caramel">Caramel</label>
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="poops" value="yes" id="yes" checked>
              <label for="yes" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="poops" value="no" id="no">
              <label for="no" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="poops" value="maybe" id="maybe">
               <label for="maybe" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>
        <br>
    

    </div>
    
        <div class="taste-aroma-container">
        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="faint" id="faint">
             <label for="faint" class="faint">Cereal</label>
<!--             <span class="icon-checkmark"></span>-->
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="puppy" value="week" id="week" checked>
              <label for="week" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="puppy" value="month" id="month">
              <label for="month" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="puppy" value="day" id="day">
               <label for="day" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>

        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="Bread/Biscuit" id="Bread/Biscuit">
             <label for="Bread/Biscuit" class="Bread/Biscuit">Chocolate</label>
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="kitty" value="joy" id="joy" checked>
              <label for="joy" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="kitty" value="el" id="el">
              <label for="el" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="kitty" value="hi" id="hi">
               <label for="hi" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>

        <div class="taste-aroma">
           <div class="taste-aroma-checkbox">
            <input type="checkbox" class="category-option" value="Bread/Biscuit" id="Bread/Biscuit">
             <label for="caramel" class="caramel">Oat</label>
             </div>
            <div class="switch">
              <input type="radio" class="switch-input" name="bunny" value="yes" id="yes" checked>
              <label for="yes" class="switch-label switch-label-off">Taste</label>

              <input type="radio" class="switch-input" name="bunny" value="no" id="no">
              <label for="no" class="switch-label switch-label-on">Aroma</label>

               <input type="radio" class="switch-input" name="bunny" value="maybe" id="maybe">
               <label for="maybe" class="switch-label switch-label-both">Both</label>
              <span class="switch-selection"></span>
            </div>
        </div>
        <br>
        
        

    </div>
</div>
















