<div class="solo profile box lg3-lg6 clearfix">
	<h2>Profile</h2>
	<div>beer label</div>
	<div>brewery name</div>
	<div>beer name</div>
	<div>abv</div>
	<div>beer style</div>
	<div>quick review</div>
	<div>notes</div>
	<div  class="dac">
		<button>SUPER JOURNAL TIME</button></div>
</div>