development: &defaults
  adapter: mysql2
  encoding: utf8
  database: beertap_development
  pool: 5
  username: vagrant
  password: vagrant
  socket: /var/run/mysqld/mysqld.sock

test:
  <<: *defaults
  database: beertap_test
