<div class="search-container clearfix">
<%= form_tag search_beers_path, :method => :get do %>
  <%= text_field_tag 'q', params[:q], :class => "form-text lg1-lg5" %>
  <%= submit_tag "Search for beer", :class => "button push-effect lg6-lg8" %>
<% end %>
</div>
