//
// Button Styles
// --------------------------------------------------
 
.button,
button {
     display: inline-block;
     border: 0;
     border-radius: 0;
     outline: 0;
     color: $white;
     white-space: nowrap;
     font-family: $sansHeaderFontFamily;
	 text-align: center;
     font-weight: 400;
     padding: 10px 16px 8px 16px;
     position: relative;
	 width: 100%;
	 font-size: 22px;
	 line-height: 25px;
	 text-transform: uppercase;
     @include linear-gradient($colorFiveLighten 0, $colorFive 80%);
	 @media (max-width: 900px) {margin-top: 15px;}
	
  	 [data-icon] { 
  	 	color: $colorTwo;
  	 	padding-right: 15px;
		padding-top: 5px;
  	 	font-size: 45px;
  	 	position: relative;
  	 	font-weight: 400;
  	 	float: left;
  	 	display: block;
		text-shadow: $white 1px 1px 0;
  	 }
	 
 		// Hover state
 		&:hover {
			@include linear-gradient($colorTwoLighten 0, $colorTwo 80%);
			@include transition (all, .3s, ease);
		}
    	
 		// Active state
 		&.active,
 		&:active {
			@include linear-gradient($colorTwoLighten 0, $colorTwo 80%);
 		}
  } // End .callout, a.callout
 
		// Callout Active state (removes push effect on touch devices)
		.no-touch .push-effect .active,
		.no-touch .push-effect:active {
		 	-webkit-transform:translate(3px, 3px);
		 	-moz-transform:translate(3px, 3px);
		 	-ms-transform:translate(3px, 3px);
		 	-o-transform:translate(3px, 3px);
		 	transform:translate(3px, 3px) 
		}
		.beer-search {margin-top: 10px;}