.form-text {
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	line-height: 1.428571429;
	display: block;
	width: 100%;
	box-shadow: none;
	padding: 8px 12px;
	height: 42px;
	-webkit-appearance: none;
	border-radius: 6px;
	border: 2px solid #bdc3c7;
	color: #34495e;
	margin-bottom: 15px;
	&:focus {
		border: 2px solid $colorThree;
		outline: none;
	}
}

textarea {
	width: 100%;
	padding: 5px;
}

.field {
	margin-bottom: 25px;
	&.notes-area {
		font-size: 16px;
	}
}



/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	position: relative;
}

	.field.group {
			input[type=radio] + label{margin: -4px;}
			&.two-options 	{
				input[type=radio] + label{width: 50%;}
			}

			&.three-options 	{
				input[type=radio] + label{width: 33.3333337%;}
			}
			&.four-options 	{
				input[type=radio] + label{width: 25%;}
			}
			&.five-options 	{
				input[type=radio] + label{width: 20%;}
			}
			&.six-options 	{
				input[type=radio] + label{width: 16.6666667%;}
			}
			&.seven-options 	{
				input[type=radio] + label{width: 14.2857143%;}
			}
		}
	.field.non-group {
		input[type=radio] + label{
			min-height: 65px;
		}
	}
	

	
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
	outline: 0;
   background-image: none;
    background-color:#d0d0d0;
}

input[type=radio]:checked + label:after {
		content:'\2713';
		position: absolute;
		right: 0px;
		margin-right: 4px;
}

.rating-slider {
	width: 260px;
	margin-left: 50px
}