//
// Global Styles
// --------------------------------------------------

// Headings
// -------------------------
h1 { 
  color: $colorSix;
  font-family: $sansHeaderFontFamily;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  //margin: 0;
}

h2 { 
  color: $colorOne;
  font-family: $sansHeaderFontFamily;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 5px solid $colorOneDesaturate;
  u {color: $colorSix;}
}

h3 {
    color: $colorSix;
    font-family: $sansHeaderFontFamily;
    font-weight: 400;
	font-size: 22px;
	line-height: 22px;
    text-transform: uppercase;
	&.border {
		border-bottom: $defaultBorder;
		padding-bottom: 10px;
	}
}

h4 { 
    color: $colorTwo;
    font-family: $sansHeaderFontFamily;
    font-weight: 400;
	font-size: 18px;
    text-transform: uppercase;
}


//// Borders
//// -------------------------
//.double-border {
//	padding: 2px 0;
//	border-top: $defaultBorder;
//	border-bottom: $defaultBorder;
//	border-left: 1px solid transparent;
//	border-right: 1px solid transparent;
//	@include box-sizing(border-box);
//	margin: 0;
//}


// Paragraphs & Em & Strong
// -------------------------
p { 
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-weight: normal;
  color: $white;
}

small {color: $colorSix;}

em, i { 
	font-family: $serifFontFamily;
	color: $colorOne;
	font-weight: normal;
}

strong, b { font-weight: bold; }

// Links
// -------------------------
a { 
  color: $linkColor;
  text-decoration: none;
  outline: 0;
  &:hover { color: $linkColorHover; }
  &:active { color: $linkColorActive; }
  &:focus { outline: 0; background-color: transparent; }
} // End a

// Lists
// -------------------------
//ul {
//	list-style-type: none;
//	padding: 0;
//	a { 
//		color: $colorSix;
//		&:hover { color: $colorOne; }
//		&:active { color: darken($colorOne, 10%); }
//	}
//}
//
//ol {
//	padding-left: 22px;
//	font-weight: bold;
//}


// Transitions
// -------------------------
a:hover, li:hover a {
  @include transition (all, .3s, ease);
}


// Photos
// -------------------------
.photos {border: 5px solid #f0f;}

// Containers
// -------------------------
.box {
	padding: 24px 23px 20px;
	position: relative;
	border-radius: $baseBorderRadius;
	background: $colorFour;
	margin-top: 20px;
	margin-bottom: 20px;
}

