//
// Global Styles
// --------------------------------------------------

// Containers
// -------------------------
.box {
	padding: 24px 23px 24px;
	position: relative;
	background: $colorFour;
	margin-top: 20px;
	margin-bottom: 20px;
}
.sign-in,
.search-landing-page {
	background: $colorSix;
	color: $white;
	padding: 0 25px 25px 25px;
	margin-bottom: 30px;
	h3 {
		color: $colorOne;
	}
	.form-text {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.sign-in-buttons {margin-top: 10px;}
	.actions {
		margin-top: 20px;
		a {
			color: $white;
			&:hover { color: $colorTwo;}
		}	
	}
}

.search-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

// Appearance - Beer Color
// -------------------------  
.color-srm {
  width: 128px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.color-srm:before {
	content: "\e60a";
	font-family: 'icomoon';
	font-size: 96px;
}

// Hero Image
// -------------------------  
.hero {
	text-align: center;
	img {
		width: 200px;
	}
	margin-top: 20px;
}


// Error Message Styling
// ------------------------- 
#error_explanation {
	padding: 10px;
	width: 100%;
	background-color: $white;
	margin-bottom: 10px;
	h2 {
		color: $colorSix;
		padding-bottom: 5px;
		margin-bottom: 10px;
		font-size: 22px;
		line-height: 22px;
	}
	ul {
		color: $colorSix;
	}
}

// My Friends Styles
// ------------------------- 
@media (max-width: 900px) and (min-width: 600px) {
	.friends-search {margin-top: 0;}
}
.friends {
	h1 {
		text-align: left;
		@media (max-width: 400px) {font-size: 35px;}
	}
	.box {
		color: $white;
	}
	.add {
		margin-top: 0;
		&:hover {color: $white;}
		&:active {color: $white;}
		@media (max-width: 600px) {margin-top: 15px;}
	}
	.following {
		a {
			color: $white;
			&:hover {color: $colorOne;}
		}
		.unfollow {
			margin-top: 0;
			&:hover {color: $white;}
			&:active {color: $white;}
			@media (max-width: 600px) {margin-top: 15px;}
		}
	}
}
