@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}


[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-weizen:before {
	content: "\e600";
}
.icon-tulip:before {
	content: "\e601";
}
.icon-taste:before {
	content: "\e602";
}
.icon-tap:before {
	content: "\e603";
}
.icon-pint:before {
	content: "\e604";
}
.icon-pilsner:before {
	content: "\e605";
}
.icon-nose:before {
	content: "\e606";
}
.icon-mug:before {
	content: "\e607";
}
.icon-mouth:before {
	content: "\e608";
}
.icon-hops:before {
	content: "\e609";
}
.icon-goblet:before {
	content: "\e60a";
}
.icon-flute:before {
	content: "\e60b";
}
.icon-bottle:before {
	content: "\e60c";
}
.icon-barley:before {
	content: "\e60d";
}
.icon-can:before {
	content: "\e60e";
}
.icon-flavor-wheel:before {
	content: "\e60f";
}
.icon-checkmark:before {
	content: "\e610";
}
.icon-cancel:before {
	content: "\e611";
}
.icon-arrow-up:before {
	content: "\e612";
}
.icon-arrow-right:before {
	content: "\e613";
}
.icon-arrow-down:before {
	content: "\e614";
}
.icon-arrow-left:before {
	content: "\e615";
}
.icon-book:before {
	content: "\e616";
}
.icon-friends:before {
	content: "\e617";
}
.icon-eye:before {
	content: "\e618";
}
.icon-exit:before {
	content: "\e619";
}

