.journal-entry-single {
    .box {
		color: white;
        background-color: $charcoal;
        h3 {
        	color: white;
        	margin-bottom: 5px;
        }
        h4 {
        	display: inline;
        	border-right: 1px solid $colorTwo;
        	padding-right: 5px;
        }
        .tertiary-section {
        	margin-left: 25px;
        }
    }
    .beer-type-profile {
    	h4 {border: none; margin-bottom: 25px;}
    	h1 {margin-top: 10px;}
    	.logo-name {
    		text-align: center;
    	}
    }
}