*, 
*:before, 
*:after,
input[type="search"] {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

 body {
	margin: 0;
	padding: 0;
	border: 0;
}

body { 
  margin: 0;
  font-color: $white;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  font-weight: normal;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.header-container {
	background-color: $grayLighter;
	height: auto;
	padding: 10px;
}

header {
	.header-links {
		text-align: right;
		font-size: 14px;
		text-transform: uppercase;
		a {margin-right: 25px;}
		[data-icon] {
			color: $colorFive;
			font-size: 20px;
			padding-right: 5px;
		}
	}
}

.hero {
	text-align: center;
	img {
		width: 200px;
	}
}

footer p {
	color: black;
}

/* ==========================================================================
   Utilities and Helpers
   ========================================================================== */

/* Floats
   ========================================================================== */

   .fr {
   	float: right;
   }

   .fl {
   	float: left;
   }

   .fn {
   	float: none;
   }

   .dac {
   	text-align: center;
   	margin: auto;
   }
