*, 
*:before, 
*:after,
input[type="search"] {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

 body {
	margin: 0;
	padding: 0;
	border: 0;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	background-color: #f00;
}

.hero {
	text-align: center;
}

/* ==========================================================================
   Utilities and Helpers
   ========================================================================== */

/* Floats
   ========================================================================== */

   .fr {
   	float: right;
   }

   .fl {
   	float: left;
   }

   .fn {
   	float: none;
   }

   .dac {
   	text-align: center;
   	margin: auto;
   }
