

.taste-aroma {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.taste-aroma-checkbox {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    background: gray;
    border-radius: 3px;
    label.faint {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
    }
    &:hover {
        background: red;
    }
}

.taste-aroma-checkbox input {
    visibility: hidden;
}

.category-option:checked + .faint {

    border: 3px solid #0f0;
}



.switch {
  position: relative;
  height: 26px;
    color: #0f0;
//  width: 120px;
//  margin: 20px auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0px 0 3px 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    display: flex;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 30%;
  line-height: 26px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  cursor: pointer;
    flex-grow: 1;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-label-both {
  padding-right: 2px;
}



.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  transition: 0.15s ease-out;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
//  left: 60px;
    left: 33.333%;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-input:checked + .switch-label-both ~ .switch-selection {
//  left: 60px;
    left: 66.66666%;
  /* Note: left: 50%; doesn't transition in WebKit */
}



.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 33.333%;
  height: 22px;
  border-radius: 3px;
  background-color: #65bd63;
  background-image: linear-gradient(top, #9dd993, #65bd63);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
  background-color: #3aa2d0;
  background-image: linear-gradient(top, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
  background-color: #c4bb61;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0dd94), color-stop(100%, #c4bb61));
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -ms-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(top, #e0dd94, #c4bb61);
}

