// Search Results
// --------------------------------------------------

.search-results {
	list-style-type: none;
	li {
		margin-bottom: 20px;
		border-bottom: 1px solid $offWhite;
		padding-bottom: 20px;
		&:hover {
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0,.05)), to(rgba(0,0,0,.1)));
			background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
			background-image: -moz-linear-gradient(top, rgba(0,0,0,.05) 0, rgba(0,0,0,.1));
			background-image: -ms-linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
			background-image: -o-linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
			background-image: linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1))
		}
	}
	h3 {margin-bottom: 0;}
	h4 {margin-top: 0;}
	img {
		float: left;
		padding-right: 30px;
	}
	.beer-brewery-names {
		float: left;
	}
	
}