// Search Results
// --------------------------------------------------

.search-results {
    margin-top: 0;
    .results-container {
       display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between; 
    }
    .individual-result {
        img {height: 100px;}  
         width: 100%;
        height: 140px;
        cursor: pointer;
        border-radius: $baseBorderRadius;
        border: 2px solid transparent;
        background-color: $white;
        position: relative;
        margin-bottom: 20px;
        h3 {font-size: 18px;}
        h4 {font-size: 14px;}
        &:after {
				content: "\e613";
				font-family: 'icomoon';
				position: absolute;
				right: 10px;
				padding-left: 15px;
				font-size: 40px;
				top: 40px;
				color: $colorOne;
				
			}
        @media (min-width: 750px) {
					width: 49%;
				}
        &:hover {
				border: 2px solid $colorTwo;
//				
			} // End &:hover
    }

	h3 {
		color: $colorSix;
		border-bottom: none;
		padding-bottom: 0;
	}
	h4 {margin-top: 0;}
	img {
		float: left;
		margin: 20px 30px 0 30px;
		@media (max-width: 1024px) {
			margin: 20px 14px 0 14px;
		}
		@media (max-width: 400px) {
			margin: 20px 10px 0 10px;
		}
	}
	.producer {
		float: left;
		width: 45%;
	}
	.help {
		@media (max-width: 1024px) {
			margin: 20px 14px 0 14px;
		}
		@media (max-width: 400px) {
			width: 60%;
			margin: 28px 10px 0 10px;
		}
	}
} // End .search-results



