// Variables
// --------------------------------------------------

// Colors
// -------------------------
$charcoal:			#433E4C;
$green:				#8A9B0F;
$yellow:			#F8CA00;
$orange:			#E97F02;
$pink:				#BD1550;
$purple:			#490A3D;

$appearance: #8A9B0F;
$aroma: #F8CA00;
$taste: #E97F02;
$mouthfeel: #BD1550;
$flavor-chart: #490A3D;

// Grayscale
$white:                     #FFFFFF;
$offWhite:                  #FEFEFE;
$grayLighter:               #E7E7E7;
$grayLight:                 #D9D9D9;
$gray:                      #888888;
$grayDark:                  #666666;
$grayDarker:                #333333;
$offBlack:                  #030303;
$black:                     #000000;

// Color One
$colorOne:              	$orange;
$colorOneLighten:			lighten($colorOne, 5%);
$colorOneDarken:			darken($colorOne, 5%);
$colorOneRGBA:          	rgba($orange, 1);
$colorOneTransparent:   	rgba($orange, .75);

// Color Two
$colorTwo:            		$green;
$colorTwoLighten:			lighten($colorTwo, 7%);
$colorTwoDarken:			darken($colorTwo, 7%);
$colorTwoRGBA:        		rgba($green, 1);
$colorTwoTransparent: 		rgba($green, .75);

// Color Three
$colorThree:             	$yellow;
$colorThreeDarken:			darken($colorThree, 10%);
$colorThreeRGBA:         	rgba($yellow, 1);
$colorThreeTransparent:  	rgba($yellow, .75);

// Color Four
$colorFour:             	$purple;
$colorFourDarken:			darken($colorFour, 10%);
$colorFourRGBA:         	rgba($purple, 1);
$colorFourTransparent:  	rgba($purple, .75);

// Color Five
$colorFive:             	$pink;
$colorFiveDarken:			darken($colorFive, 10%);
$colorFiveRGBA:         	rgba($pink, 1);
$colorFiveTransparent:  	rgba($pink, .75);

// Color Six
$colorSix:             		$charcoal;
$colorSixDarken:			darken($colorSix, 10%);
$colorSixRGBA:         		rgba($charcoal, 1);
$colorSixTransparent:  		rgba($charcoal, .75);

// Scaffolding
// -------------------------
$bodyBackground:            $white;
$textColor:                 $colorSix;

// Links
// -------------------------
$linkColor:                 $colorSix;
$linkColorHover:            $colorOneLighten;
$linkColorActive:           $colorOneDarken;

// Typography
// -------------------------
$sansFontFamily:            'europa', Arial, 'Helvetica Neue', Helvetica, sans-serif; // 300, 300 (i), 400, 400 (i), 700
$serifFontFamily:           'ff-more-web-pro', Arial, 'Helvetica Neue', Helvetica, serif; // 400, 400 (i)
$sansHeaderFontFamily:		'nimbus-sans-condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif; // 400
$baseFontFamily:            $sansFontFamily; // 400, 400 (i), 600, 700

$baseFontSize:              14px;
$baseLineHeight:            20px;
$baseSansFontWeight:        400;
$baseSerifFontWeight:       400;

// Other
// -------------------------
$navHeight:   				60px;
$defaultBorder:             1px solid $gray;
$secondaryBorder:           1px solid #CCCCCC;
$baseBorderRadius:          5px;